@import "reset.scss";
@import "colors";
@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 66px;
  color: $blue;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-family: "Amatic SC", cursive;
  color: $brown;
  font-size: 41px;
  font-weight: bold;
  line-height: 45px;
  text-transform: uppercase;
}

h3 {
  font-family: "Amatic SC", cursive;
  color: $brown;
  font-size: 33px;
  font-weight: bold;
  line-height: 45px;
  text-transform: uppercase;
}

p {
  color: $dark-brown;
  font-size: 21px;
  line-height: 33px;
}

button {
  border: 0;
}

section {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1292px;
  margin: 0 auto;
}

.about {
  background-image: url(../img/about/bg1.png);
  background-repeat: no-repeat;
  min-height: 657px;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__menu {
    color: #fff;
    margin-top: 20px;
  }

  &__logo {
    margin-top: 36px;
    margin-right: 100px;
  }

  &__text {
    margin-left: 480px;
    margin-bottom: 122px;

    b {
      color: $blue;
    }
  }

  &__slogan {
    max-width: 290px;

    margin-left: 470px;
    text-align: center;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__link {
    display: block;
    margin-right: 35px;
    color: inherit;

    font-size: 17px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 1;
    text-transform: uppercase;
  }


  &__link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: $gray;
    transition: width .3s ease-in-out;
  }

  &__link:hover:after,
  &__link:focus:after {
    width: 100%;
  }
}

.about-images {
  position: relative;
  top: -515px;
  left: -80px;

  &__food {
    position: absolute;
    top: 246px;
    left: 0;
    height: 472px;
  }

  &__cloud {
    position: absolute;
    top: 260px;
    left: 480px;
    width: 441px;
  }

  &__cloud-partickles {
    position: absolute;
    top: 315px;
    left: 430px;
    width: 566px;
  }

  &__dog {
    position: absolute;
    top: 168px;
    left: 993px;
    height: 490px;
  }
}

.story {
  max-height: 500px;
  padding: 149px 0 40px;
  display: flex;

  &__column1 {
    width: 38%;
    position: relative;
  }

  &__column2 {
    width: 30%;
  }

  &__column3 {
    text-align: center;
    width: 32%;
  }
}

.column1-title {
  position: absolute;
  left: 209px;

  &__our {
    color: $brown;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 19px;
  }

  &__story {
    color: $blue;
    font-size: 100px;
    font-weight: 700;
    line-height: 46px;
  }
}

.column1-images {
  &__pug {
    height: 527px;
    position: absolute;
    top: -75px;
  }

  &__vector {
    height: 179px;
    position: absolute;
    top: 400px;
    left: 53px;
  }
}

.column2 {
  &__text {
    margin-bottom: 40px;
  }

  &__read {
    text-transform: uppercase;
    color: #2ea2d0;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    letter-spacing: 3px;
  }
}

.column3 {
  &__food {
    height: 314px;
  }
}

.ingredient {
  background-image: url(../img/ingredient/bg.png);
  background-repeat: no-repeat;
  min-height: 350px;
  display: flex;
  justify-content: center;
  text-align: center;

  &__container {
    width: 836px;
  }

  &__subtitle {
    color: white;
    font-size: 33px;
    letter-spacing: 7px;
    margin-top: 77px;
  }

  &__title {
    color: white;
    font-size: 62px;
    margin-bottom: 40px;
  }

  &__p {
    color: white;
  }
}

.description {
  position: relative;
  display: flex;

  &__info {
    padding: 182px 0 207px 266px;
    width: 651px;
  }

  &__subtitle {
    font-size: 54px;
    margin-bottom: 35px;
  }

  &__text {
    color: black;
    margin-bottom: 45px;
  }
}

.button-style {
  padding: 20px 24px;
  height: 54px;
  color: white;
  background-color: $pre-light-blue;
  letter-spacing: 1px;
  font-weight: 600;
  transition: background-color .3s ease-in-out;
}

.button-style:hover {
  background-color: $light-blue;
  transition: background-color .3s ease-in-out;
}

.description-images {
  display: flex;
  margin-top: 90px;

  &__bulldog {
    height: 425px;
  }

  &__vector {
    position: absolute;
    right: 150px;
    height: 177px;
  }
}

.for-owners {
  max-height: 366px;
  background-color: $gray;
  padding: 100px 0 64px;
}

.owners-block {
  display: flex;
  justify-content: space-between;
}

.owners-box {
  width: 50%;
  max-width: 400px;
  margin-left: 62px;

  &__title {
    margin-bottom: 35px;
  }

  &__search {
    position: relative;
    max-width: 270px;
    margin-bottom: 35px;
  }

  .search {
    &__input {
      width: 100%;
      height: 42px;
      border: none;
      border-bottom: 1px solid #000;
      background: transparent;

      color: $dark-brown;
      font-size: 21px;
    }

    &__button {
      width: 42px;
      height: 42px;
      background: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__button:before {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 16px;
      color: $light-gray;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 35px;
  }
}

.for-owners-images {
  position: relative;

  &__dog {
    height: 545px;
    position: absolute;
    top: -400px;
    left: 550px;
  }
}

.food {
  position: relative;
  min-height: 538px;

  &__image {
    position: absolute;
    top: 100px;
    left: 230px;
    height: 314px;
  }

  &__container {
    width: 538px;
    padding-top: 167px;
    padding-left: 607px;
  }

  &__subtitle {
    margin-bottom: 32px;
  }

  &__text {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 35px;
    margin-bottom: 26px;
  }

  &__button {}
}

.footer {
  &__container {
    position: relative;
    width: 1325px;
    height: 525px;
    background-image: url(../img/footer/pug.png);
    background-repeat: no-repeat;
    min-height: 522px;
    margin: 0 auto 65px;
  }

  &__cloud-image {
    position: absolute;
    left: 593px;
    top: 20px;
    height: 363px;
  }

  &__logo {
    position: absolute;
    left: 683px;
    top: 178px;
    height: 56px;
  }

  &__rights {
    padding-left: 670px;
    padding-top: 480px;
    font-size: 16px;
  }

  &__social {}
}

.social-link {}