@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 66px;
  color: #0072a8;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-family: "Amatic SC", cursive;
  color: #452a31;
  font-size: 41px;
  font-weight: bold;
  line-height: 45px;
}

p {
  color: #3d3d3d;
  font-size: 21px;
  line-height: 33px;
}

button {
  border: 0;
}

.about {
  background-image: url(../img/about/bg1.png);
  background-repeat: no-repeat;
  min-height: 657px;
}

.about__container {
  max-width: 1292px;
  margin: 0 auto;
}

.about__header {
  margin-bottom: 70px;
}

.about__logo {
  margin: 36px 180px 0 0;
}

.about__text {
  margin-left: 480px;
  margin-bottom: 122px;
}

.about__text b {
  color: #0072a8;
}

.about__slogan {
  max-width: 290px;
  margin-left: 470px;
  text-align: center;
}

.menu-about {
  display: inline-block;
  position: relative;
  top: -20px;
}

.menu-about__link {
  width: 25%;
  margin-right: 55px;
  color: #fff;
}

.menu-about__link:last-child {
  margin-right: 0;
}

.about-images {
  position: relative;
  top: -515px;
  left: -80px;
}

.about-images__food {
  position: absolute;
  top: 246px;
  left: 0;
  height: 472px;
}

.about-images__cloud {
  position: absolute;
  top: 260px;
  left: 480px;
  width: 441px;
}

.about-images__cloud-partickles {
  position: absolute;
  top: 315px;
  left: 430px;
  width: 566px;
}

.about-images__dog {
  position: absolute;
  top: 165px;
  left: 993px;
  height: 490px;
}

.link {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1;
  text-transform: uppercase;
}

.story {
  max-height: 500px;
  padding: 149px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story__column1 {
  width: 38%;
  position: relative;
}

.story__column2 {
  width: 30%;
}

.story__column3 {
  text-align: center;
  width: 32%;
}

.column1-title {
  position: absolute;
  left: 209px;
}

.column1-title__our {
  color: #452a31;
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 19px;
}

.column1-title__story {
  color: #0072a8;
  font-size: 100px;
  font-weight: 700;
  line-height: 46px;
}

.column1-images__pug {
  height: 527px;
  position: absolute;
  top: -75px;
}

.column1-images__vector {
  height: 179px;
  position: absolute;
  top: 400px;
  left: 53px;
}

.column2__text {
  margin-bottom: 40px;
}

.column2__read {
  text-transform: uppercase;
  color: #2ea2d0;
  font-weight: 600;
  font-size: 17px;
  line-height: 33px;
  letter-spacing: 3px;
}

.column3__food {
  height: 314px;
}

.ingredient {
  background-image: url(../img/ingredient/bg.png);
  background-repeat: no-repeat;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.ingredient__container {
  width: 836px;
}

.ingredient__h2 {
  color: white;
  font-size: 33px;
  letter-spacing: 7px;
  margin-top: 77px;
}

.ingredient__h1 {
  color: white;
  font-size: 62px;
  margin-bottom: 40px;
}

.ingredient__p {
  color: white;
}

.description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description__info {
  padding: 182px 0 207px 266px;
  width: 651px;
}

.description__h2 {
  font-size: 54px;
  margin-bottom: 35px;
}

.description__p {
  color: black;
  margin-bottom: 45px;
}

.learn-more {
  height: 54px;
  color: white;
  background-color: #2ea2d0;
}

.description-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}

.description-images__bulldog {
  height: 425px;
}

.description-images__vector {
  position: absolute;
  right: 150px;
  height: 177px;
}
/*# sourceMappingURL=style.css.map */