@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: #452a31;
}

.about {
  width: 1440px;
  margin: 0 auto;
  background-image: url(../img/about/bg1.png);
  background-repeat: no-repeat;
  min-height: 657px;

  &__container {
    max-width: 1292px;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 70px;
  }

  &__logo {
    margin: 36px 180px 0 0;
  }

  &__text {
    color: #452a31;
    font-size: 41px;
    font-weight: bold;
    line-height: 45px;
    margin-left: 480px;
    margin-bottom: 122px;

    b {
      color: #0072a8;
    }
  }

  &__slogan {
    max-width: 290px;
    font-size: 66px;
    color: #0072a8;
    font-weight: bold;
    line-height: 1;
    margin-left: 470px;
    text-align: center;
  }
}

.menu-about {
  display: inline-block;
  position: relative;
  top: -20px;

  &__link {
    width: 25%;
    margin-right: 55px;
    color: #ffffff;
  }

  &__link:last-child {
    margin-right: 0;
  }
}

.about-images {
  position: relative;
  top: -515px;
  left: -80px;

  &__food {
    position: absolute;
    top: 246px;
    left: 0;
    height: 472px;
  }

  &__cloud {
    position: absolute;
    top: 260px;
    left: 480px;
    width: 441px;
  }

  &__cloud-partickles {
    position: absolute;
    top: 315px;
    left: 430px;
    width: 566px;
  }

  &__dog {
    position: absolute;
    top: 165px;
    left: 993px;
    height: 490px;
  }
}


.link {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1;
  text-transform: uppercase;
}

// Шрифт amaticSC для слоганов
.amatic {
  font-family: "Amatic SC", cursive;
}

.story {
  width: 1440px;
  margin: 0 auto;
  max-height: 500px;
  padding: 149px 0 40px;
  display: flex;

  &__column1 {
    width: 38%;
    position: relative;
  }

  &__column2 {
    width: 30%;
  }

  &__column3 {
    text-align: center;
    width: 32%;
  }
}

.column1-title {

  position: absolute;
  left: 209px;

  &__our {

    color: #452a31;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 19px;
  }

  &__story {
    color: #2ea2d0;
    font-size: 100px;
    font-weight: 700;
    line-height: 46px;
  }
}

.column1-images {

  &__pug {
    height: 527px;
    position: absolute;
    top: -75px;
  }

  &__vector {
    height: 179px;
    position: absolute;
    top: 400px;
    left: 53px;
  }
}

.column2 {

  &__text {

    color: #3d3d3d;
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 40px;
  }

  &__read {
    text-transform: uppercase;
    color: #2ea2d0;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    letter-spacing: 3px;
  }
}

.column3 {


  &__food {
    height: 314px;
  }
}