@import "reset.scss";
@import "colors";
@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

html{
  overflow-x:  hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 320px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 66px;
  color: $blue;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-family: "Amatic SC", cursive;
  color: $brown;
  font-size: 41px;
  font-weight: bold;
  line-height: 45px;
  text-transform: uppercase;
}

h3 {
  font-family: "Amatic SC", cursive;
  color: $brown;
  font-size: 33px;
  font-weight: bold;
  line-height: 45px;
  text-transform: uppercase;
}

p {
  color: $dark-brown;
  font-size: 21px;
  line-height: 33px;
}

button {
  border: 0;
}

section {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1292px;
  margin: 0 auto;
}

.about {
  background-image: url(../img/about/bg1.png);
  background-repeat: no-repeat;
  min-height: 657px;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__menu {
    color: #fff;
    margin-top: 20px;
  }

  &__mobile-buttons{
    display: none;
    margin-top: 40px;
  }

  &__m-menu-button {
  background-color:  #b9dbec;
  border: none;
  cursor: pointer;
  margin-right: 100px;
}

  &__menu-icon {
  color: #fff;
  font-size: 40px;
}

  &__logo {
    margin-top: 36px;
    margin-right: 100px;
  }

  &__text {
    margin-left: 480px;
    margin-bottom: 122px;

    b {
      color: $blue;
    }
  }

  &__slogan {
    max-width: 290px;

    margin-left: 470px;
    text-align: center;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__link {
    display: block;
    margin-right: 35px;
    color: inherit;

    font-size: 17px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 1;
    text-transform: uppercase;
  }
    &__link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: $gray;
    @include transition(width .3s ease-in-out);
  }

  &__link:hover:after,
  &__link:focus:after {
    width: 100%;
  }
}

.mobile-menu{
  display: none;
}


.about-images {
  position: relative;
  top: -515px;
  left: -80px;

  &__food {
    position: absolute;
    top: 246px;
    left: 0;
    height: 472px;
  }

  &__cloud {
    position: absolute;
    top: 260px;
    left: 480px;
    width: 441px;
  }

  &__cloud-partickles {
    position: absolute;
    top: 315px;
    left: 430px;
    width: 566px;
  }

  &__dog {
    position: absolute;
    top: 168px;
    left: 993px;
    height: 490px;
  }
}

.story {
  max-height: 500px;
  padding: 149px 0 40px;
  display: flex;

  &__column1 {
    width: 38%;
    position: relative;
  }

  &__column2 {
    width: 30%;
  }

  &__column3 {
    text-align: center;
    width: 32%;
  }
}

.column1-title {
  position: absolute;
  left: 209px;

  &__our {
    color: $brown;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 19px;
  }

  &__story {
    color: $blue;
    font-size: 100px;
    font-weight: 700;
    line-height: 46px;
  }
}

.column1-images {
  &__pug {
    height: 527px;
    position: absolute;
    top: -75px;
  }

  &__vector {
    height: 179px;
    position: absolute;
    top: 400px;
    left: 53px;
  }
}

.column2 {
  &__text {
    margin-bottom: 40px;
  }

  &__read {
    text-transform: uppercase;
    color: #2ea2d0;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    letter-spacing: 3px;
  }
}

.column3 {
  &__food {
    height: 314px;
  }
}

.ingredient {
  background-image: url(../img/ingredient/bg.png);
  background-repeat: no-repeat;
  min-height: 350px;
  display: flex;
  justify-content: center;
  text-align: center;

  &__container {
    width: 836px;
  }

  &__subtitle {
    color: white;
    font-size: 33px;
    letter-spacing: 7px;
    margin-top: 77px;
  }

  &__title {
    color: white;
    font-size: 62px;
    margin-bottom: 40px;
  }

  &__p {
    color: white;
  }
}

.description {
  position: relative;
  display: flex;

  &__info {
    padding: 182px 0 207px 266px;
    width: 651px;
  }

  &__subtitle {
    font-size: 54px;
    margin-bottom: 35px;
  }

  &__text {
    color: black;
    margin-bottom: 45px;
  }
}

.button-style {
  padding: 20px 24px;
  height: 54px;
  color: white;
  background-color: $pre-light-blue;
  letter-spacing: 1px;
  font-weight: 600;
  @include transition(background-color .3s ease-in-out);
}

.button-style:hover {
  cursor: pointer;
  background-color: $light-blue;
  @include transition(background-color .3s ease-in-out);
}

.description-images {
  display: flex;
  margin-top: 90px;

  &__bulldog {
    height: 425px;
  }

  &__vector {
    position: absolute;
    left: 1200px;
    height: 177px;
  }
}

.for-owners {
  max-height: 366px;
  background-color: $gray;
  padding: 100px 0 64px;
}

.owners-block {
  display: flex;
  justify-content: space-between;
}

.owners-box {
  width: 50%;
  max-width: 400px;
  margin-left: 62px;

  &__title {
    margin-bottom: 35px;
  }

  &__search {
    position: relative;
    max-width: 270px;
    margin-bottom: 35px;
  }

  .search {
    &__input {
      width: 100%;
      height: 42px;
      border: none;
      border-bottom: 1px solid #000;
      background: transparent;

      color: $dark-brown;
      font-size: 21px;
    }

    &__button {
      width: 42px;
      height: 42px;
      background: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__button:before {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 16px;
      color: $light-gray;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 35px;
  }
}

.for-owners-images {
  position: relative;

  &__dog {
    height: 545px;
    position: absolute;
    top: -400px;
    left: 550px;
  }
}

.food {
  position: relative;
  min-height: 538px;

  &__image {
    position: absolute;
    top: 100px;
    left: 230px;
    height: 314px;
  }

  &__container {
    max-width: 538px;
    margin-right: 20px;
    padding-top: 167px;
    padding-left: 607px;
  }

  &__subtitle {
    margin-bottom: 32px;
  }

  &__text {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 35px;
    margin-bottom: 26px;
  }

  &__button {}
}

.footer {
  &__container {
    position: relative;
    max-width: 1325px;
    max-height: 525px;
    background-image: url(../img/footer/pug.png);
    background-repeat: no-repeat;
    min-height: 522px;
    margin: 0 auto;
  }

  &__cloud-image {
    position: absolute;
    left: 593px;
    top: 20px;
    height: 363px;
  }

  &__logo {
    position: absolute;
    left: 683px;
    top: 178px;
    height: 56px;
  }

  &__rights {
    padding-left: 670px;
    padding-top: 480px;
    font-size: 16px;
  }

  // ДЛЯ ИКОНОК СОЦИАЛЬНЫХ СЕТЕЙ

  &__social {}
}

.social-link {}

// МЕДИА ЗАПРОСЫ

@media (max-width: 1330px){
    .about-images__dog {
      top: 308px;
      height: 350px;
  }
    .column1-title__story {
        font-size: 80px;
    }
    .description-images__vector {
      display: none;
  }
    .for-owners-images__dog {
      left: 500px;
  }
}

@media (max-width: 1200px){
    .about-images__dog {
      display: none;
  }
    .column1-title{
      &__our {
      margin-bottom: 0;
  }
      &__story {
        font-size: 60px;
    }
    }

    .column1-images{
      &__pug {
      height: 427px;
  }
      &__vector {
          display: none;
      }
    }
    
    .description__info {
      padding: 100px 0 100px 200px;
  }
    .description-images__bulldog {
      height: 325px;
  }
    .for-owners-images__dog {
      display: none;
  }
    .owners-block {
      justify-content: center;
  }
}

@media (max-width: 1024px){
  .about-images__cloud-partickles {
    display: none;
}
  .column1-title {
    position: absolute;
    left: 120px;
}
  .column1-images__pug {
    height: 400px;
    position: absolute;
    top: 10px;
}
  .food {
    min-height: 500px;
}
  .food {
    &____image{
      left: 130px;
    }
    &__container {
    margin-right: 20px;
    padding-top: 120px;
    padding-left: 500px;
    }
}
  
  .footer{
    &__logo {
    position: absolute;
    left: 620px;
    top: 220px;
    height: 50px;
    }

    &__cloud-image {
      left: 570px;
      top: 110px;
      height: 263px;
    }

    &__rights {
      padding-left: 500px;
    }
  }
}


@media (max-width: 900px){
  .about {
    background-image: none;
    background-color: #9fcce2;
    margin: 0 auto;
  }

// ПЕРВЫЙ ВЕРХНИЙ БЛОК "ABOUT" - ПОЯВЛЕНИЕ МЕНЮ-БУРГЕРА

  .about{
    &__header{
    margin-bottom: 0;
    }
    &__menu{
      display: none;
    }
    &__mobile-buttons {
    display: block;
    margin-left: auto;
    }

     &__text{
    text-align: right;
    margin: 250px 100px 0 0;
    }

    &__slogan {
      margin-left: 0;
      margin-right: 100px;
      text-align: right;
      max-width: none;
    }
  }

  .mobile-menu {
    display: none;
    position: fixed;
    right: 60px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 200px;
    background: #9fcce2;
  }

  .active {     // АКТИВНОСТЬ МОБИЛЬНОГО МЕНЮ
    display: flex;
  }

  .about-images{
    position: unset;
    &__food {
      height: 372px;
    }
    &__cloud{
      display: none;
    }
  }

  .story{
    &__column1{
      width: 48%;
    }
    &__column2{
      width: 50%;
    }
    &__column3 {
    display: none;
  }
}

  .footer{
    &__container {
    background-image: none;
    background: #eeeef0;
    min-height: 200px;
    height: 200px;
    margin: 0 auto;
    }

    &__cloud-image{
    display: none;
    }

    &__logo{
      top: 20px;
      left: 20px;
    }

    &__rights {
      padding-left: 300px;
      padding-top: 150px;
    }
  } 
}

@media (max-width: 768px) {
  .mobile-menu {
    height: 150px;
    right: 10px;
  }

  .about{
    &__m-menu-button {
      margin-right: 50px;
    }
    &__text{
      margin: 200px 50px 0 0;
    }
    &__slogan {
      margin-left: 0;
      margin-right: 50px;
      text-align: right;
      max-width: none;
    }
  }

  .about-images__food {
      height: 300px;
      left: -50px;
  }

  .story {
      padding: 50px 0 40px;
  }

  .description-images__bulldog {
      display: none;
  }

  .description__info {
      padding: 50px 100px 50px;
  }

    .column1-title {
      left: 60px;
  }
  .column1-images__pug {
    display: none;
  }

  .food{
    &__image {
      display: none;
    }
    &__container {
      padding-left: 50px;
    }
  }
}

@media (max-width: 576px) {
  .mobile-menu{
    position: unset;
  }
  .about{
    &__logo{
      margin-right: 0;
    }

    &__m-menu-button {
    margin-right: 10px;
    }

    &__text{
    text-align: center;
    margin: 15px 0 10px;
    }

    &__slogan {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
    }
  }

  .about-images__food {
    height: 250px;
    position: unset;
    display: block;
    margin: 0 auto;
}

  .story{
    max-height: unset;
    flex-wrap: wrap;

    &__column1{
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }

    &__column2{
      width: 100%;
      text-align: center;
      margin: 0 15px;
    }
  }

  .column1-title{
      position: unset;
      display: block;
      left: unset;
    }

  .ingredient__subtitle{
    margin-top: 35px;
  }

  .description{
    &__subtitle{
      line-height: 1.1;
      margin-bottom: 15px;
    }
    &__info {
      padding: 50px;
      text-align: center;
      margin-bottom: 25px;
  }
}

  .for-owners{
    max-height: unset;
    padding: 50px 0 20px;
  }
  .owners-block{
    flex-wrap: wrap;
  }
  .owners-box{
    width: 100%;
    max-width: none;
    margin: 0 15px 40px;
  }

  .food {
    min-height: unset;
    &__container{
      margin-right: 0;
      padding: 50px 10px 40px;
      text-align: center;
    }
}

  .footer__rights {
    padding-left: 10px;
}
}

@media (max-width: 380px) {
  .about h2{
    font-size: 32px;
  }
  .about h1{
      font-size: 46px;
      margin-bottom: 20px;
  }
  .about__logo {
    width: 80%;
    margin-right: 10px;
}

  .ingredient{
    &__container{
      margin: 0 5px;
    }
    &__subtitle {
      font-size: 26px;
      line-height: 1.1;
      margin-bottom: 0;
    }
    &__title {
        font-size: 46px;
        margin-bottom: 20px;
    }
  }

  .description{
    &__info {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }
}